@import url("https://fonts.googleapis.com/css2?family=Crete+Round:ital@0;1&family=Dancing+Script:wght@400;500;600;700&family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&family=Lusitana:wght@400;700&family=Montserrat:wght@300;400;500&family=Roboto:wght@300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: poppins, sans-serif;
  background-color: #1c1b1e;
  color: #fbfbfb;
}

h1 {
  font-family: "Dancing Script", cursive;
}

h2 {
  text-align: center;
  padding-top: 4%;
  font-size: 3em;
  color: #fbfbfb;
  font-family: lusitana;
}

.trait {
  height: 1px;
  background-color: rgb(255, 166, 42);
  width: 30%;
  margin: 50px auto;
}

a {
  text-decoration: none;
}
a:link {
  color: #fbfbfb;
}
a:visited {
  color: #fbfbfb;
}
a:hover {
  cursor: pointer;
  color: #e2a857;
}
ul {
  list-style-type: none;
}

/* ********** Nav Bar ********** */

header {
  position: relative;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e2a857;
  position: fixed;
  background-color: rgba(21, 20, 20, 0.483);
  z-index: 2;
}
header .main-logo {
  z-index: 1000;
  position: absolute;
  left: 50%;
  bottom: -30px;
  transform: translateX(-50%);
}
header .main-logo img {
  height: 100px;
}
header h1 {
  color: #fbfbfb;
  font-size: 3.5em;
  margin-left: 40px;
  text-shadow: 2px 2px 6px #a89171;
  display: inline;
}

header .onglets {
  margin-right: 3%;
  font-size: 1.4em;
}
header .onglets a {
  margin-right: 10px;
}

header .onglets a:nth-child(5) {
  background-color: rgb(255, 166, 42);
  color: black;
  border-radius: 10px;
  padding: 3px 8px;
  font-weight: 500;
}
header .onglets a:hover:nth-child(5) {
  cursor: pointer;
  color: rgb(255, 166, 42);
  background-color: black;
  border: 1px solid #fbfbfb;
}

@media (max-width: 1050px) {
  header {
    flex-direction: column;
    height: auto;
  }
  header .main-logo {
    left: 90%;
  }
  header .onglets {
    margin-bottom: 10px;
  }
}
@media (max-width: 570px) {
  header h1 {
    font-size: 3em;
  }
  header .onglets {
    font-size: 1em;
  }
  header .main-logo {
    left: 90%;
    top: 110%;
  }
  header .main-logo img {
    height: 60px;
  }
}
@media (max-width: 330px) {
  header .onglets {
    font-size: 0.8em;
  }
}
@media (max-width: 270px) {
header .main-logo {
  top: 55%
}
header .onglets a:nth-child(5){
  margin-left: 90px;
}
}
/* ******** Main ********* */

.sec1 {
  background: url(images/assiette5.png);
  height: 100vh;
  background-position: 60% 0%;
  background-size: cover;
  width: 100%;
  position: relative;
}
.welcome-text {
  flex-direction: column;
  justify-content: flex-start;
  display: inline-block;
  margin: 225px 0px 0px 12%;
}

.sec1 h1 {
  color: rgb(255 183 82 / 82%);
  font-size: 4.2em;
  font-weight: 300;
  letter-spacing: 2px;
  text-shadow: 3px 2px 3px #9c610ef5;
}

.welcome-text p {
  color: #fbfbfb;
  margin: 0 auto;
  font-size: 1.8em;
  text-shadow: 2px 2px 6px #a89171;
}

/* ********* Bouton ******** */

button {
  position: relative;
  padding: 16px 60px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  border-radius: 15px;
  border: none;
  margin-top: 60px;
}

button span {
  position: relative;
  color: #2c2534;
  letter-spacing: 1;
  z-index: 1;
  font-weight: 800;
  font-size: 1.2em;
  letter-spacing: 2;
  left: 5px;
}

button .liquid {
  position: absolute;
  top: -125px;
  left: 0;
  width: 100%;
  height: 200px;
  background: rgb(255, 176, 65);
  background: radial-gradient(
    circle,
    rgba(255, 176, 65, 1) 0%,
    rgba(246, 146, 4, 1) 100%
  );
  transition: 0.5s;
}

button .liquid::after,
button .liquid::before {
  content: "";
  width: 200%;
  height: 200%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -75%);
  background: #e2a857;
}

button .liquid::before {
  border-radius: 45%;
  background: rgba(20, 20, 20, 1);
  animation: animate 5s linear infinite;
}

button .liquid::after {
  border-radius: 40%;
  background: rgba(20, 20, 20, 0.5);
  animation: animate 10s linear infinite;
}

button:hover .liquid {
  top: -145px;
  background: rgb(255, 166, 42);
  background: radial-gradient(
    circle,
    rgba(255, 166, 42, 1) 0%,
    rgb(221, 135, 15) 50%
  );
  cursor: pointer;
  transition: 2s;
}

button span:hover {
  cursor: pointer;
  transition: 2s;
}

@keyframes animate {
  0% {
    transform: translate(-50%, -75%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -75%) rotate(360deg);
  }
}

@media only screen and (max-width: 643px) {
  header nav {
    justify-content: center;
  }
  .welcome-text p {
    font-size: 1.3em;
  }
  .sec1 h1 {
    font-size: 3em;
  }
  header nav .onglets {
    font-size: 0.7em;
  }
}

/* ********** Section 2 ******** */

.sec2 {
  width: 100%;
  height: 100vh;
  background-image: url(images/fond-resto-indien/fond-resto-classe-flou-compress.png);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sec2 .container h2 {
  font-size: 1em;
  padding: 8px 0;
  z-index: 2;
}

.sec2 .container p {
  font-size: 0.5em;
  padding: 9px;
}
.sec2 .container .card .text .trait {
  background-color: #fbfbfb;
  margin: 5px auto;
}
.sec2 .container {
  width: 70%;
  height: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.sec2 .container .card {
  height: 100%;
  text-align: center;
  max-width: 190px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgb(125, 125, 125);
  border-left: 1px solid rgb(125, 125, 125);
  margin: 0 auto;
}
.sec2 #services {
  position: relative;
  overflow: hidden;
}
.sec2 #services:before {
  content: " ";
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-image: url(images/Singe-scooter/singecarre.png);
  background-size: cover;
  backdrop-filter: blur(10px);
  background-position: 50% 0;
}
.sec2 #savoir {
  position: relative;
  overflow: hidden;
}
.sec2 #savoir:before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.85;
  background-image: url(images/fond-resto-indien/farinne-main-resized-compress.jpg);
  background-size: cover;
}
.sec2 #ingredients {
  position: relative;
  overflow: hidden;
}
.sec2 #ingredients:before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.85;
  background-image: url(images/legumes/coupage-legumes-resized-compress.jpg);
  background-size: cover;
}
.sec2 .container .card img {
  width: 50px;
  margin: 0 8px;
}

.sec2 .container .card .text {
  color: #fbfbfb;
  letter-spacing: 0.005em;
  line-height: 13px;
  padding: 9px;
  z-index: 2;
}

#services .text {
  background: linear-gradient(
    180deg,
    rgba(24, 21, 21, 0) 0%,
    rgba(24, 21, 21, 0.2232) 0.01%,
    rgba(23, 22, 22, 0.93) 31.77%,
    rgba(22, 22, 23, 0.93) 63.54%,
    rgba(21, 24, 24, 0.7533) 100%
  );
  border-radius: 20px;
}
#savoir .text {
  background: linear-gradient(
    180deg,
    rgba(24, 21, 21, 0) 0%,
    rgba(24, 21, 21, 0.1992) 0.01%,
    rgba(23, 22, 22, 0.83) 31.77%,
    rgba(22, 22, 23, 0.83) 63.54%,
    rgba(21, 24, 24, 0.6723) 100%
  );
  border-radius: 20px;
}
#ingredients .text {
  background: linear-gradient(
    180deg,
    rgba(24, 21, 21, 0) 0%,
    rgba(24, 21, 21, 0.192) 0.01%,
    rgba(23, 22, 22, 0.8) 31.77%,
    rgba(22, 22, 23, 0.8) 63.54%,
    rgba(21, 24, 24, 0.648) 100%
  );
  border-radius: 20px;
}
@media only screen and (max-width: 840px) {
  .sec2 {
    align-items: flex-start;
    height: auto;
  }
  .sec2 .container .card {
    margin: 10px auto;
  }
  .sec2 .container {
    width: auto;
    height: 913px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px auto;
  }
}

/* ********* Page Menus ********** */

/* ******** Header ******** */

.body2 {
  background-image: url(images/fond-resto-indien/fond-resto-verre-cut.jpg);
  background-attachment: fixed;
  background-size: cove;
  background-repeat: no-repeat;
  background-position: bottom right;
}
.sec3 {
  width: 100%;
  height: auto;
}

.sec3 h1 {
  text-align: center;
  padding-top: 20%;
  font-size: 2.5em;
  color: #fbfbfb;
  font-family: lusitana;
}

.sec3 .image-resp {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2.5rem;
  color: #111;
  max-width: 90ch;
}

.sec3 .image-resp img {
  margin-top: 1em;
  margin-bottom: 1em;
  max-width: 100%;
  height: auto;
}

/* ********** Menus *********** */

/* ******** Section 3 (Salé) ******** */

.menus {
  max-width: 1000px;
  margin: 0 10%;
  display: grid;
  grid-gap: 1rem;
  margin-bottom: 60px;
}
.card .menus-text h2 {
  padding: 0 15px;
  color: #fbfbfb;
  font-size: 1em;
  margin-bottom: 4%;
}
.card .menus-text h3 {
  color: #f5f2ed;
  font-weight: 400;
  font-size: 0.9em;
  margin-bottom: 4%;
}
.card .menus-text span {
  font-size: 1em;
  font-weight: 400;
  color: rgb(255, 166, 42);
}
.menus-text {
  border-top: 1px solid #fbfbfb;
  border-left: 1px solid #fbfbfb;
  border-bottom: 1px solid #fbfbfb;
  height: 100%;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.photo {
  width: 60%;
}
@media (min-width: 850px) {
  .menus {
    grid-template-columns: repeat(2, 1fr);
  }
  .sec3 h1 {
    padding-top: 10%;
    font-size: 3em;
  }
}
@media (min-width: 1150px) {
  .card .menus-text h2 {
    font-size: 1.2em;
  }
  .card .menus-text h3 {
    font-size: 1em;
  }
  .card .menus-text span {
    font-size: 1.2em;
  }
  .menus {
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 365px) {
  .card .menus-text h2 {
    font-size: 0.6em;
  }
  .card .menus-text h3 {
    font-size: 0.5em;
  }
  .card .menus-text span {
    font-size: 0.6em;
  }
}

.menus .photo {
  height: 100%;
}
.menus .photo img {
  width: 100%;
  display: block;
}
.menus .card {
  display: flex;
}

/* ********* Section 4 (Sucré) ********** */

.sec4 h1 {
  text-align: center;
  padding-top: 4%;
  font-size: 3em;
  color: #fbfbfb;
  font-family: lusitana;
}
.sec4 #bigtrait {
  width: 70%;
  margin: 40px auto;
}
.sec4 .trait {
  width: 30%;
}

/* ********* Footer ******** */

footer {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #c4c4c4;
  background-color: #162222;
  position: relative;
}

footer .text {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 20px;
}
footer .text .text-left h3 {
  display: block;
  width: fit-content;
  font-weight: 400;
  border-bottom: solid rgb(221, 135, 15);
  margin-bottom: 20px;
  font-size: 1em;
}
footer .text p,
a {
  font-size: 0.6em;
  padding: 5px 0;
}

footer .text > .mini-trait {
  position: absolute;
  margin-right: auto;
  margin-left: auto;
  height: 1px;
  background-color: rgb(221, 135, 15);
  width: 90px;
  transform: rotate(90deg);
}
footer .text-left,
.text-right {
  display: flex;
  flex-direction: column;
}

footer .media ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

footer .media {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
footer .media li {
  height: 40px;
  width: 40px;
  margin: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  border-radius: 92px;
  background: #162222;
  box-shadow: 8px 8px 21px #0e1616, -8px -8px 21px #1e2e2e;
  flex-wrap: wrap;
}
footer .media li:hover {
  border-radius: 92px;
  background: #162222;
  box-shadow: inset 8px 8px 21px #0e1616, inset -8px -8px 21px #1e2e2e;
  cursor: pointer;
}
footer .copyright {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  font-size: 0.6em;
  margin-bottom: 5px;
  align-items: center;
  text-align: center;
}

footer .mini-trait {
  height: 1px;
  background-color: rgb(221, 135, 15);
  width: 10%;
}

@media (max-width: 700px) {
  footer .text {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  footer .text .text-left h3 {
    margin: 0 auto;
  }
  .mini-text-left {
    margin: 20px 0;
  }
  footer .text > .mini-trait {
    position: relative;
    width: 200px;
    transform: rotate(180deg);
    margin: 20px 0;
  }
  footer .media img {
    height: 40px;
  }
  footer .copyright {
    font-size: 0.8em;
  }
}

/* ********* Section 5 FAQ ********* */
#body3 {
  background-color: #2e3232;
}
#nav3 {
  background-color: rgba(21, 20, 20, 0.123);
}
.sec5 {
  width: 100%;
  height: 100vh;
  background-image: url(images/Background/layered-waves-haikei.png);
  background-size: cover;
  background-position: bottom;
  padding-top: 100px;
}
.sec5 h2 {
  padding-top: 107px;
  color: #fbfbfb;
}
.sec5 h3 {
  margin-bottom: 25px;
  color: #fbfbfb;
}

.sec5 .faq-content {
  display: flex;
  justify-content: space-around;
  line-height: 30px;
}
.sec5 .card {
  margin: 20px;
}
.sec5 li {
  display: inline-block;
}
.sec5 i {
  margin-left: 10px;
}
.sec5 img {
  height: 28px;
  margin-left: 10px;
  vertical-align: middle;
}
.sec5 .card {
  line-height: 40px;
}
.sec5 #card3 {
  line-height: 45px;
}

.sec6 {
  height: 100vh;
  margin: 0 50px;
}
.sec6 .livraison {
  display: flex;
}

.sec6 p {
  margin: 15px;
}
#rennes {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 50%;
  background-image: url(images/fond-resto-indien/stacked-waves-haikei.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: top left;
}
#alentours {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 50%;
  background-image: url(images/fond-resto-indien/stacked-waves-haikeiblue.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: top left;
}

@media (max-width: 1010px) {
  .sec5 {
    height: auto;
  }
  .sec5 li {
    font-size: 0.7em;
  }
  .sec5 h3 {
    font-size: 1em;
    padding-bottom: 5px;
  }
  .sec5 h2 {
    padding-top: 15%;
  }
  .sec6 .livraison {
    flex-direction: column;
  }
  .sec6 {
    height: auto;
  }
  .sec6 p {
    margin: 30px 0;
  }
}
@media (max-width: 820px) {
  .h2-resp {
    font-size: 2.3em;
    padding-bottom: 0;
    padding-top: 40px;
  }
  .sec5 .faq-content {
    flex-direction: column;
    padding-bottom: 180px;
  }
  .sec5 {
    text-align: center;
    padding-top: 10%;
  }
  .sec5 h2 {
    padding-top: 100px;
  }

  .sec6 {
    text-align: center;
  }
  .sec6 p {
    padding: 20px 30px;
  }
}
@media (max-width: 430px) {
  .sec5 {
    text-align: center;
  }
  .h2-resp {
    font-size: 2em;
    padding-top: 70px;
  }
}
